:root {
  --ff-main: "Poppins", sans-serif;

  --clr-main: #239981;
  --clr-accent: #74bba5;
  --clr-neutral-900: #212121;
  --clr-neutral-100: #fff;
  --clr-neutral-150: #edfdf8;
}

/* RESET CSS */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img,
video {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header,
section {
  padding: 2rem 0;
}

h1,
h2,
h3,
p {
  padding: 1rem 0;
}

/*  UTILITY CLASSES */

.active {
  color: var(--clr-main);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.group-center {
  display: grid;
  place-items: center;
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 65.0625em) {
  .split {
    flex-direction: row;
    gap: 2em;
  }
  .split > * {
    flex-basis: 100%;
  }
}

.btn,
input[type="submit"] {
  border: 2px solid var(--clr-main);
  padding: 1rem;
  transition: all 300ms ease;
  color: var(--clr-neutral-150);
  background-color: var(--clr-main);
  display: inline-block;
}
.btn:hover,
input[type="submit"]:hover {
  background-color: transparent;
  color: var(--clr-main);
}

.btn2 {
  border: 2px solid var(--clr-main);
  padding: 1rem;
  transition: all 300ms ease;
  color: var(--clr-neutral-150);
  background-color: transparent;
  display: inline-block;
}
.btn2:hover {
  background-color: var(--clr-main);
  color: var(--clr-main);
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: var(--clr-main);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  display: block;
  border-radius: 28px;
  background: var(--clr-main);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: var(--clr-accent);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}

body {
  width: 100%;

  font-family: var(--ff-main);
}

.bg-light {
  color: var(--clr-neutral-150);
  background-color: var(--clr-main);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
  color: var(--clr-main);
}
.bg-neutral-100 p {
  color: var(--clr-neutral-900);
}

/* HEADER */

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  position: relative;
  z-index: 10;

  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-100);
}

header .logo img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav__links ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  font-size: 1.2rem;
}

/* HERO SECTION */

section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1786%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1787)'%3e%3c/rect%3e%3cpath d='M1920 0L1241.02 0L1920 154.63z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1241.02 0L1920 154.63L1920 203.37L1034.11 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1034.1100000000001 0L1920 203.37L1920 341.90999999999997L442.23000000000013 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M442.23 0L1920 341.90999999999997L1920 757.95L151.64000000000004 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L152.85 1080L0 879.9z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 879.9L152.85 1080L799.15 1080L0 649.28z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 649.28L799.15 1080L846.66 1080L0 614.27z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 614.27L846.66 1080L1274.02 1080L0 557.6999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1786'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1787'%3e%3cstop stop-color='rgba(32%2c 64%2c 71%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(35%2c 153%2c 129%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}

.hero__text {
  margin: 2rem 0;
}
.hero__text h1 {
  color: var(--clr-neutral-100);
  font-weight: 600;
  font-size: 3rem;
}
.hero__text p {
  opacity: 0.9;
  font-weight: 300;
}
.hero__text a#mail-to {
  text-decoration: underline;
}
.hero__cta {
  margin-top: 1rem;
}
.hero__cta .btn:first-of-type {
  margin-right: 1rem;
}
.hero__cta .btn,
.hero__cta .btn2 {
  color: var(--clr-neutral-100);
}

.hero__video {
  margin-block: 3rem;
  text-align: center;
}
.hero__video img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.legal__heading {
  font-weight: 600;
  font-size: 1.2rem;
}

.section__accompagner {
  height: 80vh;
}

/* CONTACT SECTION */

.contact__section h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--clr-neutral-100);
}
.contact__section img {
  max-height: 500px;
}

form {
  margin-block: 1.4rem;
}

textarea {
  resize: none;
}

input,
textarea,
form {
  font-family: inherit;
}

input,
textarea {
  padding: 1rem;
  border: none;
  border-bottom: 1px solid var(--clr-neutral-100);

  background-color: transparent;
  color: var(--clr-neutral-100);
}

::placeholder {
  color: var(--clr-neutral-100);
}

input[type="submit"]:hover {
  color: var(--clr-neutral-100);
  border-color: var(--clr-neutral-100);
  cursor: pointer;
}

/* SECTION FAQ */

article {
  padding-block: 1rem;
}
article h2 {
  color: var(--clr-main);
  font-size: 2rem;
  font-weight: 600;
}

details {
  margin: 0.5rem auto 0;
  background: var(--clr-neutral-900);
  color: var(--clr-neutral-100);

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  cursor: pointer;
}
details p,
details li {
  line-height: 1.5;
  padding: 0px 1.5rem 1.5rem;
  cursor: auto;
  opacity: 0.9;
}
details p a {
  text-decoration: underline;
}

summary {
  user-select: none;
  padding: 1.2rem;
  font-size: 1.2rem;
}

/* FOOTER */

footer {
  padding-block: 0.9rem;
}

footer a {
  text-decoration: underline;
}
footer a img:hover {
  opacity: 0.5;
}

.social__links img {
  height: 35px;
  width: 35px;
  margin-right: 0.65rem;
}
